.cart {
	font-size: 1.7rem;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.cart .cart__link {
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.2s;
	color: white;
  text-decoration: none;
}

.cart .cart__link:hover {
	color: white;
	opacity: 0.8;
}

.cart .cart__circle {
	position: absolute;
	right: 15%;
	top: -25%;
	color: black;
	font-size: 0.8rem;
	width: 20px;
	line-height: 20px;
	border-radius: 50%;
	text-align: center;
	background-color: rgb(255 210 18);
}
